@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background: #d9d9d9;
    min-height: 100vh;
}

/* for header */
header {
    background: #00122e;
    position: fixed;
    top: 0;
    left: 280px;
    width: calc(100% - 280px);
    height: 50px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 999;
}

/* For navbar */

nav {
    background: #0d47a1;
    overflow: hidden;
    height: 100vh;
    width: 280px;
    position: fixed;
    /* top: 50px; */
    left: 0;
    padding-top: 30px;
    z-index: 999;
}
nav:hover {
    width: 280px;
    transition: 1s;
  }
  
  .logo {
    text-align: center;
    display: flex;
    margin-top: 0 0 0 10px;
  
    padding-bottom: 3rem;
  }
  
  .logo img {
    width: 45px;
    height: 45px;
    border-radius: 20%;
  }
  
  .logo span {
    font-weight: bold;
    color: white;
  
    padding-left: 15px;
    font-size: 35px;
    text-transform: uppercase;
  }
  
  a {
    position: relative;
    width: 280px;
    font-weight: bold;
    font-size: 16px;
    color: #ffcf70;
    display: table;
    padding: 20px;
  }
  
  .dashlogo {
    position: relative;
    width: 40px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  .nav-item {
    position: relative;
    top: 8px;
    margin-left: 15px;
  }
  
  a:hover {
    color: #33afcd;
    transition: 0.5s;
  }
  .logout {
    position: absolute;
    bottom: 0;
  }

/* for container */

.container {
    margin-left: 280px;
    height: 100vh;
    width: calc(100% - 280px);
    margin-top: 50px;
    position: fixed;
    background-color: #ffe9e9;
    transition: 0.5s;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* for submitbuttons */
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
} 


/* for create-task */
.createtask h1 {
  text-align: center;
}   
.createtask label{
  margin-top: 10px;
}  
  
  
  
.createtask label {
    display: block;
    font-weight: bold;
   width: 100%;
  }
  
  .createtask input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .createtask input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .createtask input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .createtask input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .createtask form{
    width: 45%;
    margin-left:20px ;
  }




/* for register users  */
.register-form h1 {
  text-align: center;
}   
.register-form label{
  margin-top: 10px;
}  
  
  
  
.register-form label {
    display: block;
    font-weight: bold;
   width: 100%;
  }
  
  .register-form input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .register-form input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .register-form input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .register-form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .register-form{
    width: 45%;
    margin-left:20px ;
  }
  

  /* for view task */
  .tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .t-card {
    background-color: #f2f2f2;
    padding: 15px;
    margin-top: 9px;
    border-radius: 30px;
    color: grey;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
  .t-card:hover {
    transition: transform 0.5s ease;
    transform: scale(1.03);
    cursor: pointer;
  }
  
  .text-button {
    display: flex;
  }
  
 
  .task-no {
    color: #484b4f;
  }
  .t-description {
    margin-top: 5px;
    font-size: 14px;
    color: #555a56;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .button-small {
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .button-small:hover {
    margin-left: 0;
    transform: translateY(2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: grey;
  }